# API Key do Google Gemini para avaliação usando IA
GEMINI_API_KEY=sua_chave_aqui

# Token de acesso do GitHub (com permissão de leitura aos repositórios e organização)
GITHUB_TOKEN=seu_token_aqui

# (Opcional) Nome da organização no GitHub para buscar os repositórios. 
# Se deixado em branco, vai buscar os repositórios do usuário do token.
GITHUB_ORG_NAME=sua_org_aqui

# Configurações de SMTP para envio de e-mails (ex: Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_PASS=sua_senha_de_app_aqui
DEFAULT_RECIPIENTS=diretoria1@email.com,diretoria2@email.com

# Trello (Configuração Multi-Board)
# Exemplo de array JSON contendo as chaves e configurações de disparo de diferentes quadros.
TRELLO_BOARDS=[{"name":"PPM","key":"sua_chave","token":"seu_token","boardId":"id_quadro","emailTitle":"Resumo Diário | PPM","recipients":"time1@email.com,time2@email.com"}]
